body {
  margin: 0;
  background: #141414;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.container {
  padding: 30px;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #e50914;
}

.video-box {
  display: flex;
  justify-content: center;
}

video {
  width: 80%;
  max-width: 900px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
}

.controls {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: #e50914;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #b20710;
}

